*.pyc
*.pyo
*.pyd
*.swp
*.so
*.os
*.xml
*.DS_Store
.sconf_temp
.sconsign
autom4te.cache
config.log
aclocal.m4
compile
config.guess
config.sub
configure
docs
install-sh
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
py-compile
scripts
VCbuild/*.ncb
VCbuild/*.suo
VCbuild/*.user
VCbuild/codeanalyst
VCbuild/cvisual
VCbuild/dlls
VCbuild/libs
dependencies/boost_files
dependencies/boost_files2.5
site-packages/vidle2/build
site-packages/visual/*.in
src/mac/PackageMaker/*.pmdoc
src/mac/PackageMaker/*.pmdoc/*.xml
