*.pyc
*.pyo
*.pyd
*.swp
*.so
*.os
.sconf_temp
.sconsign
config.log
aclocal.m4
config.guess
config.sub
configure
install-sh
ltmain.sh
Makefile.in
Makefile
missing
mkinstalldirs
py-compile
scripts
VCbuild/*.ncb
VCbuild/*.suo
VCbuild/*.user
VCbuild/codeanalyst
VCbuild/cvisual
VCbuild/dlls
VCbuild/libs
dependencies/boost_files
dependencies/boost_files2.5
site-packages/vidle2/build
site-packages/visual/*.in
